
LIBRA.Common/obj/Debug/

LIBRA.Scan.Data/obj/
ScanAPP/LIBRA.Scan.Data/bin/
ScanProject/obj/Debug/
ScanAPP/LIBRA.Scan.Data/obj/
ScanAPP/LIBRA.Scan.Common/obj/
LIBRA.Scan.Services/obj/Debug/
*.cache

*.editorconfig

ScanProject/obj/
ScanProject/bin/
LIBRA.Scan.Services/bin/
LIBRA.Scan.Data/obj/
LIBRA.Scan.Data/bin/
LIBRA.Common/obj/
LIBRA.Common/bin/
LIBRA.Scan.Services/obj/
.vs/

LIBRA.Scan.Entities/bin/Debug/
LIBRA.Scan.Entities/obj/Debug/
LIBRA.Scan.API/LBIRA.Scan.Common/obj/
LIBRA.Scan.API/LIBRA.Scan.API/bin/
LIBRA.Scan.API/LIBRA.Scan.API/obj/
LIBRA.Scan.API/LIBRA.Scan.Data/bin/
LIBRA.Scan.API/LIBRA.Scan.Data/obj/
LIBRA.Scan.API/LIBRA.Scan.Entities/obj/
LIBRA.Scan.API/LIBRA.Scan.Service/bin/Debug/
LIBRA.Scan.API/LIBRA.Scan.Entities/bin/
LIBRA.Scan.API/LIBRA.Scan.Service/obj/
LIBRA.Scan.Entities/bin/
LIBRA.Scan.Entities/obj/
LIBRA.Scan.API/LIBRA.Scan.API/LIBRA.Scan.API.csproj.user
LIBRA.Scan.APP/LIBRA.Common/bin/
LIBRA.Scan.APP/LIBRA.Common/obj/
LIBRA.Scan.APP/LIBRA.Scan.Data/bin/
LIBRA.Scan.APP/LIBRA.Scan.Data/obj/
LIBRA.Scan.APP/LIBRA.Scan.Entities/bin/
LIBRA.Scan.APP/LIBRA.Scan.Entities/obj/
LIBRA.Scan.APP/LIBRA.Scan.Services/bin/
LIBRA.Scan.APP/LIBRA.Scan.Services/obj/
LIBRA.Scan.APP/ScanProject/bin/
LIBRA.Scan.APP/ScanProject/

ScanAPP/ScanProject/obj/Debug/



ScanAPP/ScanProject/obj/Debug/net7.0-windows/ScanProject_1kbwttdx_wpftmp.AssemblyInfo.cs
ScanAPP/ScanProject/obj/Debug/net7.0-windows/ScanProject_iityaw0k_wpftmp.AssemblyInfo.cs
ScanAPP/ScanProject/obj/Debug/net7.0-windows/ScanProject_MarkupCompile.i.lref
ScanAPP/LIBRA.Scan.Services/bin/
ScanAPP/LIBRA.Scan.Services/obj/
ScanAPP/ScanProject/obj/
ScanAPP/ScanProject/bin/

ScanAPP/LIBRA.Scan.Services/bin/Debug
ScanAPP/ScanProject/bin/Debug
ScanAPP/ScanProject/obj/Debug
ScanAPP/LIBRA.Scan.ServiceUpdateDataBase
ScanAPP/LIBRA.Scan.Data/bin/


ScanAPP/LIBRA.Scan.ApiIntergration/bin/

ScanAPP/LIBRA.Scan.Common/bin/

ScanAPP/LIBRA.Scan.Common/bin/Debug/net7.0/
ScanAPP/LIBRA.Scan.ApiIntergration/bin/Debug/net7.0/
ScanAPP/LIBRA.Scan.Common/obj/Debug/
ScanAPP/LIBRA.Scan.ApiIntergration/obj/Debug/
ScanAPP/LIBRA.Scan.Data/obj/Debug/net7.0/
ScanAPP/LIBRA.Scan.Entities/obj/Debug/net7.0/


ScanAPP/LIBRA.Scan.SFTP/obj/
ScanAPP/LIBRA.Scan.Entities/obj/
ScanAPP/LIBRA.Scan.SFTP/bin/
ScanAPP/LIBRA.Scan.Data/bin/
API/Gateway/LIBRA.ApiGateway/bin/

API/Gateway/LIBRA.ApiGateway/obj/


ScanAPP/LIBRA.Scan.Entities/bin/Debug/net7.0/LIBRA.Scan.Entities.pdb
ScanAPP/LIBRA.Scan.Entities/bin/

ScanAPP/LIBRA.Scan.ApiIntergration/obj/

ScanAPP/LIBRA.Scan.Helpers/bin/
ScanAPP/LIBRA.Scan.Helpers/obj/

